<v-row no-gutters>
  <v-col>
    <v-system-bar color="info" dark>
      <v-icon>info</v-icon>
      <span>API Data Test</span>
    </v-system-bar>

    <v-row>
      <v-col cols="4">
        <v-text-field v-model="param.userId" label="UserID" :disabled="fetching" required></v-text-field>
        <v-text-field v-model="param.title" label="Title" :disabled="fetching" required></v-text-field>
        <v-text-field v-model="param.body" label="Body" :disabled="fetching" required></v-text-field>

        <v-btn color="success" @click="save" :loading="fetching" :disabled="$v.param.$invalid || fetching">
          <v-icon left>done</v-icon> Save
        </v-btn>
      </v-col>
      <v-col cols="8">
        <v-data-table hide-default-footer disable-filtering disable-pagination
          :headers="headers"
          :items="items"
          item-key="id"
          :items-per-page="-1"
          class="elevation-1"
          :loading="items.length < 1"
        ></v-data-table>
      </v-col>
    </v-row>
  </v-col>
</v-row>
