/*#region Vuetify*/
.theme--light .list,
.theme--light .card,
.theme--light .table,
.theme--light .input-group.input-group--solo {
  background-color: #FAFAFA;
}
/*#endregion Vuetify*/

/* https://vuejs.org/v2/api/#v-cloak */
[v-cloak] {
  display: none;
}

.cursor {
  cursor: pointer;
}
